<!--
<section class="nav">
  <ul>
    <li><a href="mailto:{{ site.email }}">CONTACT</a></li>
    <li><a href="/blog.html">BLOG</a></li>
    <li><a href="/">ABOUT</a></li>
  </ul>
</section>
-->
<section class="page-header">


  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.description }}</h2>
  <!--
  <a class="ctbtn" href="https://twitter.com/{{ site.twitter_username }}">
    <i class="fa fa-twitter-square "></i>
  </a>
  <a class="ctbtn" href="https://github.com/{{ site.github_username }}">
    <i class="fa fa-github-square"></i>
  </a>
  <a class="ctbtn" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
    <i class="fa fa-linkedin-square"></i>
  </a>
  -->
  <a href="https://github.com/rgmarelli/devs-tossim" class="btn">View on GitHub</a>
  <a href="https://github.com/rgmarelli/devs-tossim/zipball/master" class="btn">Download .zip</a>
  <a href="https://github.com/rgmarelli/devs-tossim/tarball/master" class="btn">Download .tar.gz</a>
</section>

